body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #303030;
}

#root {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 1000;
  padding: 0.5rem 0; /* Zmanjšajte višino app-bar za tanjši videz */
  text-align: center; /* Poravnajte vsebino na sredino */
}

